haskell/dist
haskell/dist/setup-config
haskell/dist/build/haskell/haskell
haskell/dist/build/haskell/haskell-tmp/Main.hi
haskell/dist/build/haskell/haskell-tmp/Main.o
.vscode/tasks.json
.clj-kondo
.lsp